/** @format */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}

body {
  overflow-x: hidden;
}

input {
  border-color: #fff;
  border-width: 1px !important;
}
textarea {
  border-width: 1px !important;
}

input:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

.portfolio-name {
  font-weight: 800;
  line-height: 41px;
  font-style: normal;
  letter-spacing: -0.03em;
}

ul li {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.navbar ul li:hover {
  text-decoration: underline;
  text-decoration: #553c9a underline 3px;
}

.active {
  text-decoration: underline;
  text-decoration: #553c9a underline 3px;
}

.twitter:hover {
  color: #553c9a !important;
}

.linkedin:hover {
  color: #553c9a !important;
}

.github:hover {
  color: #553c9a !important;
}
