/** @format */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}

body {
  overflow-x: hidden;
  background: no-repeat;
  background-repeat: no-repeat;
}

input {
  border-color: #fff;
  border-width: 1px !important;
  border-radius: none;
}
textarea {
  border-width: 1px !important;
}

input:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

.portfolio-name {
  font-weight: 800;
  line-height: 41px;
  font-style: normal;
  letter-spacing: -0.03em;
}

ul li {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.navbar ul li:hover {
  text-decoration: underline;
  text-decoration: #553c9a underline 3px;
}

.active {
  text-decoration: underline;
  text-decoration: #553c9a underline 3px;
}

.twitter:hover {
  color: #553c9a !important;
}

.linkedin:hover {
  color: #553c9a !important;
}

.github:hover {
  color: #553c9a !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  .animate__animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
